/*

[Custom Stylesheet]

Project: CloudServer - Responsive HTML5 Technology, Web Hosting and WHMCS Template
Version: 1.2
Author : themelooks.com

*/

body {
    font-family: 'OpenSans', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'OpenSans', sans-serif;
}
