/*

[Custom Stylesheet]

Project: CloudServer - Responsive HTML5 Technology, Web Hosting and WHMCS Template
Version: 1.2
Author : themelooks.com

[ozBeanz]

Style customisations should be made here only. Leave the main style.css sheet in tact as is to
allow updates to Cloud Server template by the developer.

Minor Change for testing.

*/


body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'OpenSans', sans-serif;
}
